// Mobile
footer {
    background-color: $dark-main;
    padding-inline: 20px;
    
        .container {
            display: flex;
            justify-content: space-between;
        }
            
        span {
            display: none;
        }
        }

/* 
add padding-block of 10px to the .container
align elements to center like in figma
adjust p to follow figma directions (font size, color)
proceed with .social-icons, give it display flex and gap os 10px
and then you can move to style desktop
*/ 

// Desktop
@media (min-width: 870px) {
    // here you gonna change everything that need to be changed on desktop version
}