// Mobile
footer {
    background-color: $dark-main;
    padding-inline: 20px;
    
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-block: 10px;
        }
            
        span {
            display: none;
        }
        p{
            font-size: 12px;
            color: rgba(214, 244, 255, 0.5);
            font-family: Inter;
        }
        .social-icons {
            display: flex;
            gap: 10px; // Añadido espacio entre los iconos sociales
        }
        }

/* 
add padding-block of 10px to the .container
align elements to center like in figma
adjust p to follow figma directions (font size, color)
proceed with .social-icons, give it display flex and gap os 10px
and then you can move to style desktop
*/ 

// Desktop
@media (min-width: 870px) {
    // here you gonna change everything that need to be changed on desktop version
    
}