// Mobile
footer {
    background-color: $dark-main;
    padding-inline: 20px;
    
        .container {
            display: flex;
            justify-content: space-between;
        }
            
        span {
            display: none;
        }
        }