
// Global
// html elements
html, body {
    height: 100%;
}

body {
    background-color: $dark-secondary;
}

body, button, input {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header, footer {
    padding-inline: 20px;
}

header {
    box-sizing: border-box;
    min-height: 70px;
}

main {
    // height: 100%;
    min-height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
}

footer {
    min-height: 50px;
}

@media (min-width: 870px) {
    header {
        min-height: 90px;
    }
    main {
        min-height: calc(100% - 140px);
    }
}

section {
    padding-inline: 20px;
}

h1, h2, h3, h4 {
    font-weight: 500;
    line-height: 130%; /* 46.8px */
    color: $white-blue;
}

a, button {
    font-weight: 500;
    line-height: 130%; /* 46.8px */
}

a {
    text-decoration: none;
    color: $white-blue;
}


// Mobile
h1 {
    font-size: 36px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%; /* 46.8px */
    color: $light-blue;
}

// Desktop
@media (min-width: 870px) {
    h1 {
        font-size: 48px;
    }

    p {
     font-size: 28px;   
    }
}