@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
Utility classes are small, reusable CSS classes that perform a single specific function or style. They focus on one property, such as margin, padding, text alignment, or display properties, making them highly modular and easy to apply across various elements. 
*/
.container {
  max-width: 1218px;
  margin-inline: auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.gap-5 {
  gap: 5px;
}

body {
  background-color: hsl(215, 76%, 10%);
}

body, button, input {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header, footer {
  padding-inline: 20px;
}

section {
  padding-inline: 20px;
}

h1, h2, h3, h4 {
  font-weight: 500;
  line-height: 130%; /* 46.8px */
  color: hsl(197, 100%, 96%);
}

a, button {
  font-weight: 500;
  line-height: 130%; /* 46.8px */
}

a {
  text-decoration: none;
  color: hsl(197, 100%, 96%);
}

h1 {
  font-size: 36px;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 130%; /* 46.8px */
  color: hsl(197, 100%, 92%);
}

@media (min-width: 870px) {
  h1 {
    font-size: 48px;
  }
  p {
    font-size: 18px;
  }
}
/*
This Mobile First applies to ( ALL AND EVERY SCREENSIZE )
and in mobile first normally is used min-width as the example bellow
*/
header {
  background-color: hsl(216, 75%, 12%);
}
header .container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
header .container .logo {
  margin-right: auto;
}
header .container .burger {
  display: flex;
  background-color: rgba(240, 248, 255, 0);
  border: 0;
  order: 3;
}

@media (min-width: 870px) {
  header .container {
    justify-content: space-between;
    align-items: center;
  }
  header .container .logo {
    margin-right: 0;
  }
  header .container .burger {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
