button {
    background-color: transparent;
}

.team-item {
    border: 1px blue solid;
    padding: 5px;
}

.team-card {
    border: 1px green solid;
    margin: 10px;
    padding: 5px;
}

.flags-modal {
    border: 1px yellow dashed;
    margin: 10px;
    padding: 5px;
}

.edit-team-name-container {
    border: 1px yellow dashed;
    margin: 10px;
    padding: 5px;
}