button {
    background-color: transparent;
}

.team-item {
    border: 1px blue solid;
}

.team-card {
    border: 1px green solid;
   
}

.flags-modal {
    border: 1px yellow dashed;
    margin: 10px;
    padding: 5px;
}

.edit-team-name-container {
    border: 1px yellow dashed;
}

#flags-modal{
     display: none;
    
}

.divider {
    height: 1px;
    background-color: $light-blue-50;
    
}

.team-item{
    background-color: $dark-main ;
}

.team-card{
    display: flex;
    justify-content: space-between;
    padding-block: 15px;
    padding-inline: 10px;
    gap: 10px;
}
.team-info{
    display: flex;
    min-width: min-content;
    align-items: center;
    gap: 10px;
}
.team-card-controls{
    display: flex;
    align-items: center;
    gap: 10px;
}

.team-add-form, .edit-team-name-container {
    
    input[type="text"] {
        font-size: 16px;
    }
}