// colors
$dark-main: hsla(216, 75%, 12%, 1);
$dark-secondary: hsla(215, 76%, 10%, 1);
$white-blue: hsla(197, 100%, 96%, 1);
$light-blue: hsla(197, 100%, 92%, 1);
$light-blue-50: hsla(197, 100%, 92%, 0.5);
$light-blue-30: hsla(197, 100%, 92%, 0.3);
$accent: hsla(197, 93%, 52%, 1);
$accent-hover: hsla(197, 93%, 69%, 1);

// Widths
$page-width: 1218px;