
// Mobile First
.menu {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    height: calc(100vh - 100%);
    background-color: $dark-main;
    visibility: hidden;

    &.menu--open {
        visibility: visible;
    }

    li {
        display: flex;
        
        a {
            width: 100%;
            padding-inline: 20px;
            padding-block: 15px;
            transition: background-color 500ms ease-in-out;
        }

        a:hover {
            background-color: $accent;
            color: $dark-main;
        }

    }

}

.hb {
    width: 32px;
}