.login-form {
    
    gap: 20px;

    label {
        color: $white-blue;
        gap: 10px;
    }

    input[type="text"], input[type="password"] {
        background-color: hsla(216, 11%, 91%, 0.05);
        color: $light-blue;
        padding: 15px;
        border: 1px solid $light-blue-50;
        border-radius: 10px;
        transition: border 300ms ease-in-out;
    }

    input[type="text"]:hover, input[type="password"]:hover {
        border: 1px solid $light-blue;
    }

    input[type="text"]::placeholder, input[type="password"]::placeholder {
        color: $light-blue-30;
        font-size: 15px;
    }

    input[type="submit"] {
        font-size: 16px;
        font-weight: 500;
        line-height: 130%;
        background-color: $accent;
        color: $dark-main;
        border: none;
        border-radius: 10px;
        padding: 15px;
        margin-top: 10px;
    }
}